footer {
  background-color: rgb(212, 185, 110);
  font-family: 'Open Sans', sans-serif;
}

#footernav {
  background-color: #153038;
  color:white;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}