.navbar-inverse {
    background-color: #153038;
    border-color: #080808;
}

.navbar-logo #logo {
    height: 50px;
    margin-right: .5em;
  }

.navbar-inverse .navbar-nav>li>a {
    color:#fddb7f;
    font-family: 'Oswald', sans-serif;
    border: 0;
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 5px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color:#e08413;
}
  
a#welcomeuser {
    color:#fddb7f;
}
  
a#welcomeuser:hover {
    color:#e08413;
}